server {
    listen 80 default_server;
    server_name localhost;
    root "C:/laragon/www/cashiersystem/public/";
    
    index index.php index.html index.htm;

    # Access Restrictions
    allow 127.0.0.1;
    deny all;

    include "C:/laragon/etc/nginx/alias/*.conf";

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass php_upstream;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    charset utf-8;

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }
    
    location ~ /\.ht {
        deny all;
    }
}
