.footer {
    /* background-color: #f8f9fa; */
    padding: 1rem;
    margin-right:1rem ;
    text-align: center;
    /* border-top: 1px solid #dee2e6; */
}

.footer-text {
    font-weight: bold;
    color: #a49b9b;
    margin: 0;
}
